<%- include("partials/header.ejs") %>

    <div class="text-info d-flex justify-content-center mb-3">
        <h3>Hey, let's watch this anime!</h3>
    </div>
    <div class="d-flex justify-content-center mb-3">
        <a href="/randomMovie"><button type="button" class="btn btn-info">Pick Again</button></a>
    </div>

    <div class="col-md-12 d-flex justify-content-center align-items-center">
        <div class="card mx-auto" style="width: 18rem;">
            <img src="<%=locals.image9%>" class="card-img-top" height="250" alt="random anime">
            <div class="card-body">
                <% if(locals.title9) { %>
                    <h5 class="card-title">Title: <%=title9%>
                    </h5>
                    <% }else{ %>
                        <h5 class="card-title">Title: <span class="text-warning">Loading...</span></h5>
                        <% } %>

                            <% if(locals.rank9) { %>
                                <p class="card-text">Rank: <%=plot9%>
                                </p>
                                <% }else{ %>
                                    <p class="card-text">Rank: <span class="text-warning">Loading...</span></p>
                                    <% } %>
            </div>
            <ul class="list-group list-group-flush">
                <% if(locals.type9) { %>
                    <li class="list-group-item">Type: <%=type9%>
                    </li>
                    <% }else{ %>
                        <li class="list-group-item">Type: <span class="text-warning">Loading...</span>
                        </li>
                        <% } %>

                            <% if(locals.score9) { %>
                                <li class="list-group-item fw-semibold text-primary">Score: <%=score9%>
                                </li>
                                <% }else{ %>
                                    <li class="list-group-item fw-semibold text-primary">Score: <span
                                            class="text-warning">Loading...</span>
                                    </li>
                                    <% } %>
            </ul>
            <div class="card-body mx-auto">

                <a href="https://www.youtube.com/results?search_query=<%=locals.title9%>" target="_blank"
                    class="btn btn-primary">View
                    Trailer</a>
            </div>
        </div>
    </div>

    <%- include("partials/footer.ejs") %>